<a href="<%= user_path(current_user) %>">
<center>  <%=image_tag current_user.image, :size => "300x300", :id=>"profilepicture" %> </center>
<h1><center>@<%= current_user.username %></center></h1>
</a>
